<div class="row-fluid  login ">
 <div class="col-md-offset-4 col-md-4" id="box">
  <h2>{{title}}</h2>
  <hr>
  <form class="form-horizontal" action=" " method="" id="contact_form">
    <fieldset>
      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="origin" placeholder="Origin" class="form-control" type="input" required="Required" [(ngModel)]="data.originLocationCode">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="destination" placeholder="Destination" class="form-control" type="input" required="Required" [(ngModel)]="data.destinationLocationCode">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="date" placeholder="Date" class="form-control" type="Date" required="Required" [(ngModel)]="data.departureDate">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-md btn-danger pull-right" (click)=getdata(data)>Search</button>
        </div>
      </div>
    </fieldset>
  </form>

 <div>
    <ul  *ngFor ="let flight of flightList">
      <li>{{flight.localFlightSegments[0].departureAirport.name | json}}</li>
      <li>{{flight.localFlightSegments[0].arrivalAirport.name | json}}</li>
      <li>{{flight.localFlightSegments[0].departureDateTime | json}}</li>
  </ul>
  </div>

</div> 
