<div class="main-container">
<div class="image-container">
  <img src="./assets/image.jpg">
</div>
<div class="card text-center card-container offset-md-1 col-md-10">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Multi-city</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

   <form class="form-horizontal" action=" " method="" id="contact_form">
    <fieldset>

      <div *ngFor="let item of journeyMatrix; let segmentIndex = index">

        <div class="form-group row">
          <div class="col-md-4">
            <div class="input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="origin{{segmentIndex}}" placeholder="Origin" class="form-control" type="input" required="Required" [(ngModel)]="item.origin">
            </div>
          </div>

           <div class="col-md-4">
            <div class="input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input name="destination{{segmentIndex}}" placeholder="Destination" class="form-control" type="input" required="Required" [(ngModel)]="item.destination">
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input name="date{{segmentIndex}}" placeholder="Date" class="form-control" type="Date" required="Required" [(ngModel)]="item.date">
            </div>
          </div>
        </div>
      </div>


      <div class="form-group-lg">
        <div class="col-md-12 row">
          <button class="btn btn-danger btn-lg" (click)="addSegment()">Add a Segment</button>
          <button type="submit" class="btn btn-danger btn-lg" (click)=getdata(data)>Search</button>
        </div>
      </div>

    </fieldset>
  </form>
  </div>
</div>
</div>
<app-flight-list *ngFor="let segment of journeyData; let segmentIndex = index"
  [journeyData]="journeyData"
  [segment]="segment"
  [segmentIndex]="segmentIndex"
  [ondSearchPayload]="ondSearchPayload">
</app-flight-list>


<!--  <div>
    <ul  *ngFor ="let flight of flightList">
      <li>{{flight.localFlightSegments[0].departureAirport.name | json}}</li>
      <li>{{flight.localFlightSegments[0].arrivalAirport.name | json}}</li>
      <li>{{flight.localFlightSegments[0].departureDateTime | json}}</li>
  </ul>
  </div>

</div>  -->



<!-- <div class="card row">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#!" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
