<div class="row  summary-container">
	<div class="card text-center summary-body  offset-md-2 col-md-8">
		<div class="card-header">
			Flight Summary
		</div>
		<div class="card-body">
			<div class="flight-details row">
				<div class="col-md-4">
					<h3 class="airport">LHR</h3>
					<h5>7:00 AM</h5>
					<h6>Terminal 2A</h6>
				</div>
				<div class="plane-img col-md-4">
					<img src="../assets/black-plane.png">
					<span class="duration">12h 50m</span>
				</div>
				<div class="col-md-4">
					<h3 class="airport">JFK</h3>
					<h5>11:00 PM</h5>
					<h6>Terminal 5</h6>
				</div> 
			</div>
		</div>
		<div class="card-footer">
			Total Price : 50680 GBP
		</div>
	</div>
</div>