.search-bar-container{

  background: url(../../assets/image.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;

  .card-container.custom-card-container {
  padding-left:0;
  padding-right:0;
  top: 12rem;
  background-color: rgba(255, 255, 255,0.45);

  .card-header {
  background-color: rgb(225, 225, 225,0.45);;

  a {
  font-weight: 600;
  color: #007bff;
  }
  }

  .card-body {

  .remove-flight{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-left: 0;

      img {
      width: 30%;
      }
  }

  .searchFlight {
  padding-left:0;
  margin:0;
  padding-right :0;
  }
  }
  }
}
#flight-list-outer{
  position: absolute;
  top: 58rem;
  background-color:  #f1f1f1;
}
