@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.main-container{
.flight-details{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
.plane-img{
img {
width:30%;
}
}
}
}