<div class="row  summary-container">
	<div class="card text-center summary-body  offset-md-2 col-md-8" >
		<div class="card-header">
			<h4>Flight Summary</h4>
		</div>
		<div class="card-body" *ngFor="let item of selectedJourneyItems">
			<div class="flight-summary row">
				<div class="col-md-4">
					<h4 class="airport">{{item.localFlightSegments.departureAirport.name}}</h4>
					<h5>{{item.localFlightSegments.departureDateTime | date : 'shortTime'}}</h5>
					<span>Terminal {{item.localFlightSegments.departureAirport.terminal}}</span>
				</div>
				<div class="plane-img col-md-4">
					<img src="../assets/black-plane.png">
					<span class="duration">{{item.localFlightSegments.duration | slice:2:7}}</span>
					<span class="carrierName">{{item.localFlightSegments.marketingCarrier.carrierName}}</span>
					<span class="flightNo">{{item.localFlightSegments.marketingCarrier.carrierCode}} - {{item.localFlightSegments.marketingCarrier.flightNumber}}</span>
				</div>
				<div class="col-md-4">
					<h4 class="airport">{{item.localFlightSegments.arrivalAirport.name}}</h4>
					<h5>{{item.localFlightSegments.arrivalDateTime | date : 'shortTime'}}</h5>
					<span>Terminal {{item.localFlightSegments.arrivalAirport.terminal}}</span>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<h4>Total Price : 50680 GBP</h4>
		</div>
	</div>
</div>
